:root {
  --accent1: #ff7a7a55;
  --accent2: #6be9ff55;
  --accent3: #d77aff55;

  --neon-color: #ff0000;
}

.neon-title {
  font-size: 2.5rem;
  font-weight: 800;

  color: var(--neon-color);

  text-shadow:
    0 0 12px var(--neon-color),
    0 0 24px var(--neon-color);

  transition:
    color 1.5s ease,
    text-shadow 1.5s ease;
}
